{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>
				<h3>WHAT IS FSOWERS ROCKET SPEED TEAM?</h3>
				<p><img src="{% static 'assets/images/team_ads_3.jpg' %}" alt="" class="img-rounded img-thumbnail pull-right" width="300" >Fsowers rocket speed team are a group of fsowers members who commit to
growing their business with speed by registering for 12 accounts at
once with a one-time payment of #14,000 or more.</p>
				<p>Quos, aliquam nam velit impedit minus tenetur beatae voluptas facere sint pariatur! Voluptatibus, quisquam, error, est assumenda corporis inventore illo nesciunt iure aut dolor possimus repellat minima veniam alias eius!</p>
				<h3>FSOWERS ROCKET SPEED TEAM IS FOR THOSE WHO</h3>
				<ol>
					<li>Are too busy to get actively involved in networking</li>
					<li>Are not too good in talking to prospects or trying to convince
					people to join their team</li>
					<li>Want to move through the fsowers compensation plan Level with speed</li>
					<li>Desire to enjoy fsowers' juicy incentives and benefits.</li>
					<li>Long to enjoy a lifetime of residual income that exceeds their generation</li>
				</ol>
				<h3>HOW DOES IT WORK?</h3>
				<ol>
					<li>Each person registers for 12 fsowers accounts with a one-time
					payment of #14,000 (N12,000 for registration and N2,000 for logistics)
					or more.</li>
					<li>Each person is assigned a slot number (i.e. a position on the First
					Come First Served list). So the earlier you register and come on
					board, the better, because new team members get placed under you.</li>
					<li>50% Earning between level 3 upward that accrue to each person’s
					account at each stage will be re-invested to register more accounts
					(downlines) within the enclosed team</li>
					<li>Members attain each fsowers compensation stage (stages 1,  2, 3, 4
					e.t.c.) faster and earn more as the bonuses of stages 1 to 3 keep
					being re-invested</li>
					<li>Each member gets to enjoy the incentives (android phones, HP
					Laptops, Hyundai salon cars, monthly Salary, Paris trip e.t.c) that
					accrues to him / her at any stage faster than if he / she were
					personnally trying to recruit downlines</li>
				</ol> 
				<h3>BENEFITS OF JOINING FSOWERS ROCKET SPEED TEAM</h3>
				<ol>
					<li>You automatical enter level 3 in the space of 2 month or less</li>
					<li>We work to take you to level 4 in the space of 3 months or less &
					keep working (re-investing) to take you to the final level</li>
					<li>You don’t need to worry about bringing in people (downlines). We
					will do that for you.</li>
					<li>We auto-pilot your fsower accounts and give you feedbacks regularly.</li>
					<li>You don't need to convince anyone to come under you because your
					money works for you.</li>
					<li>Your money works for you while you sleep, creating residual income for life</li>
					<li>No risk involved as you get the money you invested and other benefits back.</li>
				</ol>
				<h3>WHAT IS THE PLAN OF THE TEAM IN GETTING DOWNLINES FOR US?</h3>
				<ol>
					<li>The 2000 naira for logistics is not a pocket money for the admin
					but the money is use to organize Mega Business Seminar Presentation.</li>
					<li>We get downlines to place other you through our social media platform such as online presentation.</li>
					<li>Through video presentation. And many more...</li>
				</ol>

				<p>Why wait, when you can tap into the anointing that produces Hyundai
				SUV? Join fsowers rocket speed today!<br>Call/WhatsApp: 08062893992</p>

				
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Our Other Business</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
						<li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
						<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
						<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
						<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
					</ul>
				</div>

				<div class="widget">
					<h4>Testimonies</h4>
					<div class="h-caption"><h4><img src="{% static 'assets/images/team_ads_4.jpg' %}" class="img img-thumbnail">Winner1</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
					</div>
					<div class="h-caption"><h4><img src="{% static 'assets/images/team_ads_6.jpg' %}" class="img img-thumbnail">Winner2</h4></div>
					<div class="h-body text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aliquid adipisci aspernatur. Soluta quisquam dignissimos earum quasi voluptate. Amet, dignissimos, tenetur vitae dolor quam iusto assumenda hic reprehenderit?</p>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
{% endblock %}